<h2>To Do List</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if task_list %}
    <ul>
    <form action="{% url 'deleteTask' %}" method="post">
    {% csrf_token %}
    {% for task in task_list %}
        <input type="radio" name="Task" id="task{{ forloop.counter }}" value="{{ task.id }}">
        <label for="task{{ forloop.counter }}">{{ task.task_text }}</label><br>
    {% endfor %}
    <br><input type="submit" value="Completed">
    </form>
    </ul>
{% else %}
    <p>No task are available.</p>
{% endif %}

<h4>Create new task</h4>
<form action="{% url 'addTask' %}" method="post">
    {% csrf_token %}
    <input type="text" name="task">
    <input type="submit" value="Add">
</form>
